In [1]:
import pandas as pd

# Watchlists:

## 1. Opening watchlists:

In [3]:
navid_watchlist = pd.read_csv('navid-watchlist.csv')
navid_watchlist.head()

       id                                               Name  Year
0   93573                                           May Days  1978
1  240928                           With the Blood of Others  1974
2  202934  They Kill Me If I Don't Work and If I Work The...  1974
3  156311                                  Class of Struggle  1969
4   51326                       The Bridge on the River Kwai  1957

In [4]:
hannah_watchlist = pd.read_csv('hannah-watchlist.csv')
hannah_watchlist.head()

       id                Name  Year
0   51940  Three Colours: Red  1994
1  436873              Climax  2018
2   51190        Irreversible  2002
3   29041      Enter the Void  2009
4   50967       I Stand Alone  1998

## 2. Getting shared movies of both watchlists:

In [7]:
merged_watchlist = pd.merge(hannah_watchlist, navid_watchlist)

In [9]:
print(merged_watchlist)

        id                                       Name  Year
0   307298                        The Disaster Artist  2017
1    51613                             The Green Mile  1999
2    51714                                      Alien  1979
3    51686                         The Straight Story  1999
4    42089                      A Brighter Summer Day  1991
5    51024                        The Virgin Suicides  1999
6    50717                           Marie Antoinette  2006
7    45585                                       Tess  1979
8    51271                             A Few Good Men  1992
9    51366                              Almost Famous  2000
10  311942                               Cameraperson  2016
11   97672                               U.S. Go Home  1994
12   35988                                      Yi Yi  2000
13   49468  Women on the Verge of a Nervous Breakdown  1988
14   51618                       Being John Malkovich  1999
15  348772                                  Antiporno  2016
16  277064                                     Barbie  2023
17  879229                               Perfect Days  2023
18   46729                              Shallow Grave  1994
19  755564                              The Holdovers  2023
20   51480               A.I. Artificial Intelligence  2001
21   51438              The Bridges of Madison County  1995
22   51238                         The Great Dictator  1940
23   49883                      My Darling Clementine  1946